{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(app|lib|utils|models|modules|routes|ioc)/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
